@import "@folio/stripes-components/lib/variables";

.headerCell {
  border-bottom: 5px solid var(--primary);
  padding-top: 5px;
}

.emptyHeaderCell {
  flex-grow: 1;
  padding: 10px 10px 5px;
  border-bottom: 5px solid var(--primary);
  font-weight: var(--text-weight-bold);
  margin-left: auto;
  text-align: right;
}
