{
  "parser": "babel-eslint",
  "extends": ["@folio/eslint-config-stripes/acquisitions"],
  "rules": {
    "no-multiple-empty-lines": "off"
  },
  "overrides": [
    {
      "files": ["*test.*", "test/**"],
      "rules": {
        "react/prop-types": "off",
        "padding-line-between-statements": "off"
      }
    }
  ]
}
