@import "@folio/stripes-components/lib/variables";

:root {
    --cellHeight: 36px;
}

.headerCell, .headerStickyCell {
    display: flex;
    align-items: center;
    height: var(--cellHeight);
    border-bottom: 5px solid var(--primary);
    padding: 5px 8px 0;
}

.headerStickyCell {
    margin-left: auto;
    flex: 0;
}

.column {
    position: relative;
    align-self: flex-start;
    padding: 5px 10px;
}

.column.fallback {
    width: calc(max(5%, 120px) + 100px);
}

.headerCell.field,
.column.field {
    width: 5%;
    padding-left: 5px;
    min-width: 80px;
}

.headerCell.in,
.column.in {
    width: 70px;
}

.headerCell.subfield,
.column.subfield {
    display: flex;
    align-items: flex-start;
    width: 5%;
    min-width: 80px;
}

.headerCell.actions,
.column.actions {
    width: 12%;
}

.headerCell.data,
.column.data {
    width: 13%;
}

.headerCell.fill {
    flex-grow: 1;
}

.splitter {
    position: absolute;
    bottom: 0;
    width: 1px;
    height: calc(100% - var(--cellHeight));
    background-color: var(--color-border-p2);
    transform: translateX(-8px);
}

.emptyHeaderCell {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    border-bottom: 5px solid var(--primary);
    margin-left: auto;
    padding-right: 10px;
}

.row, .markRow {
    line-height: var(--line-height);
    margin: 0;
    box-sizing: border-box;
    justify-content: flex-end;
}

.row {
    background: var(--color-fill);
}

.subRow {
    background: var(--color-fill-table-row-even);
}

.row [class^="repeatableFieldList"],
.markRow [class^="repeatableFieldList"] {
    margin: 0;
}

.markFieldRow {
    background: var(--color-fill-table-row-odd);
}

.actionButtonsWrapper {
    margin-left: auto;
    padding: 5px 10px;
    width: 72px;
    border-left: 1px solid var(--color-border-p2);
    text-align: right;
}

.iconButton:has([disabled]) {
    opacity: 0.5;
}

.additionalParameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.asterisk {
    position: absolute;
    right: 1px;
    top: 0;
    color: var(--error);
    font-weight: bold;
}

.required {
    border: 1px solid var(--error) !important;
}

.fullWidth {
    width: 100%;
}
