@import "@folio/stripes-components/lib/variables";

.row {
    background-color: var(--color-fill);
    line-height: var(--line-height);
    margin: 0;
    box-sizing: border-box;
    justify-content: flex-end;
}

.row [class^="repeatableFieldList"] {
    margin: 0;
}

.iconButtonWrapper {
    margin-left: auto;
    padding: 5px 10px;
    min-width: 70px;
    border-left: 1px solid var(--color-border-p2);
    text-align: right;
}

.iconButton:has([disabled]) {
    opacity: 0.5;
}

.additionalParameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column {
    flex-grow: 1;
    padding: 5px 8px;
}

.column.field {
    max-width: 100px;
}

.column.in {
    max-width: 50px;
}

.column.subfield {
    max-width: 100px;
}

.column.actions {
    max-width: 10%;
}

.column.data {
    max-width: 15%;
}

.column.fallback {
    max-width: 200px;
}
