.previewContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.previewAccordion,
.errorAccordionList {
    flex-grow: 1;
}

.previewAccordion:first-child:has([aria-expanded="false"]) {
    flex-grow: 0;
}

.previewAccordion > * {
    height: 100%;
}

.previewAccordionInner,
.errorAccordionInner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.errorAccordionInner {
    height: 100%;
}
